@import "./reset.css";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  --color-border: #938f87;
  --color-bg: black;
  --color-text: #181819;

  --border01: 1px solid var(--color-border);
  --border02: 6px double var(--color-border);

  background-color: var(--color-bg);
  color: var(--color-text);

  overflow: hidden;
  font-family: "Fjalla One", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Slab", serif;
}

.app {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  overflow-y: hidden;
}
