.rotate-canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 5rem;
  height: 90vh;

  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  background-image: url("../assets/우주.gif");
  background-size: cover;
}
p {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.rotate-canvas-wrapper > canvas {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  box-shadow: inset 0 0 5px 5px rgb(0, 0, 0, 0.2);
  background-color: white;
}
.rotate-canvas-wrapper > aside {
  width: 50vmin;
}
.rotate-canvas-wrapper > aside > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.rotate-canvas-wrapper > aside > h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.rotate-canvas-wrapper > aside > p {
  font-size: 1.2rem;
  line-height: 1.4;
}
@keyframes UpAndDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(15px) translateX(15px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.space-man {
  position: absolute;
  top: 10%;
  right: 5%;

  animation: UpAndDown 4s ease infinite;
  width: 20vw;
}
.space-man > img {
  width: 100%;
  height: auto;
}
